version: '3.4'
services:
  dgsogp:
    image: me440378/dgsogp:v0.1-8
    depends_on:
      - dgsogp_mysql
      - dgsogp_mongodb
      - dgsogp_admin_mongo
    network_mode: "host"
  dgsogp_mysql:
    image: me440378/dgsogp_mysql:v0.1-4
    network_mode: "host"
  dgsogp_mongodb:
    image: me440378/dgsogp_mongodb:v0.1-5
    network_mode: "host"
  dgsogp_admin_mongo:
    image: me440378/dgsogp_admin_mongo:v0.1-1
    network_mode: "host"
